@mixin childs{
  @for $i from 1 through 10 {
    &:nth-child(#{$i}){
      top:10*$i+px;
      left:10*$i+px;
      z-index: $i;
      &:hover{
        z-index: 9999;
      }
    }
  }
}
#orders{
  position: relative;
  ul{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    padding: 10px 20px;
    list-style: none;
    background-color: #fefefe;
    border: 1px solid #ccc;
    li:last-child{
      color:red;
      font-weight: bold;
    }
    @include childs()
  }
}